*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    font-family: tahoma;
    align-items: center;
    background-image: url(https://img.freepik.com/free-vector/yellow-diagonal-geometric-striped-background-with-halftone-detailed_1409-1451.jpg);
    background-color: rgb(255, 203, 59);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-a{
    width: 480px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 4% auto;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, .2);
}

.box-a input{
    width: 330px;
    height: 60px;
    margin: 10px 0%;
    padding: 12px 20px;
    cursor: pointer;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 20px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, .2);
}

.box-a h2{
    margin: 20px 0%;
    font-size: 30px;
    color: rgb(48, 47, 46);
}

.box-a p{
    margin: 8px 0%;
    font-size: 17px;
    color: rgb(48, 47, 46);
}

.title-bar{
    width: 100%;
    height: 60px;
    color: rgb(48, 47, 46);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding: 10px 5px;
    margin: 0px 0%;
}

#inputButton{
    width: 330px;
    height: 60px;
    margin: 10px 0%;
    padding: 12px 20px;
    cursor: pointer;
    color: rgb(44, 44, 43);
    background-color: rgb(216, 196, 15);
    border: 3px solid transparent;
    border-radius: 25px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, .2);
    font-size: 20px;
}

#inputButton:hover{
    transition: .1s;
    transform: scale(1.02);
}